<mat-toolbar class="header">
  <a class="logo-container" href="#">
    <img
      class="logo-dogmkt"
      src="../../../assets/dogmkt-logo.png"
      alt="dogmkt-logo"
    />
  </a>

  <div class="center-link">
    <ul>
      <li class="center-option">
        <a href="#">DOG'S COLLECTION</a>
      </li>
    </ul>
  </div>

  <div class="right-link">
    <a *ngIf="this.router.url === '/login'" routerLink="/signup">SIGN UP</a>
    <a *ngIf="this.router.url === '/signup'" routerLink="/login">LOGIN</a>
  </div>
</mat-toolbar>
