<mat-toolbar class="header" aria-label="nav">
  <a class="logo-container" routerLink="/sellers/create">
    <img
      class="logo-dogmkt"
      src="../../../assets/dogmkt-logo.png"
      alt="dogmkt-logo"
    />
  </a>

  <div class="center-link">
    <ul>
      <li class="center-option">
        <a routerLink="/collection/list">DOG'S COLLECTION</a>
      </li>
    </ul>
  </div>

  <div class="right-link">
    <a *ngIf="this.router.url === '/account/login'" routerLink="/account/signup"
      >SIGN UP</a
    >
    <a *ngIf="this.router.url === '/account/signup'" routerLink="/account/login"
      >LOGIN</a
    >
    <a
      *ngIf="
        this.router.url !== '/account/login' &&
        this.router.url !== '/account/signup'
      "
      routerLink="/checkout/cart"
      >CART({{ countDogsInCart }})</a
    >
    <a
      class="profile-link"
      *ngIf="
        this.router.url !== '/account/login' &&
        this.router.url !== '/account/signup'
      "
      routerLink="/account/login"
    >
      PROFILE
      <mat-icon>keyboard_arrow_down</mat-icon>
    </a>
  </div>
</mat-toolbar>
