.sub-heading {
  font-size: 1rem;
  padding: 1.2rem 0;

  margin: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-box {
  display: flex;
  flex-direction: column;

  margin-bottom: 1.4rem;
}

.label {
  font-size: 1rem;
  margin-bottom: 0.4rem;

  font-weight: 500;
}

.input-text {
  font-size: 1rem;
  padding: 0.6rem;
  border: 1px solid #868e96;
  border-radius: 4px;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);

  margin-bottom: 0.2rem;
}

.input-text:focus {
  outline: none;
}

/* SPECIFIC SIGNUP */
.check-seller {
  font-family: inherit;
  color: inherit;
  font-size: 1rem;

  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.checkbox-seller {
  width: 1.25rem;
  height: 1.25rem;

  accent-color: #495057;

  cursor: pointer;
}

/* BUTTON */
.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;

  background-color: #495057;
  color: #fff;

  border-radius: 4px;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

  font-size: 1.25rem;
  font-family: inherit;

  padding: 0.6rem 2rem;
}

.submit-edit-btn {
  padding: 0.6rem 4rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  transition: all 0.2s;

  width: 100%;
  margin-top: 1rem;
}

.submit-edit-btn:hover {
  background-color: #646a6e;
}

.submit-edit-btn:disabled {
  background-color: #888888;
  cursor: auto;
}
