<div class="dog-item">
  <div
    class="dog-img-box"
    [ngClass]="dog.availableQuantity == 0 ? 'sold-out' : ''"
    [routerLink]="
      this.router.url.includes('/seller')
        ? ['/seller/preview/', dog.id]
        : ['/collection/details/', dog.id]
    "
  >
    <span class="sold-out-text" *ngIf="dog.availableQuantity == 0"
      >Sold Out</span
    >
    <img src="{{ dog.pictureUrl }}" alt="{{ dog.breed }}" class="dog-img" />
  </div>
  <div class="dog-info">
    <span class="dog-name"> {{ dog.name }}</span>
    <span>Breed: {{ dog.breed }}</span>
    <div class="price-box">
      <mat-icon class="price-icon">favorite</mat-icon>
      <span class="price">{{ dog.price | number : "1.2-2" }}</span>
    </div>
  </div>
</div>
