.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: auto;
  overflow-x: hidden;
}

.profile-container {
  padding: 2rem;
  height: max-content;

  width: min(100vw, 450px);

  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.info-container {
  width: min(100vw, 450px);
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 3rem;
}

.heading {
  font-size: 2rem;
  letter-spacing: 0.05rem;

  margin-bottom: 0.8rem;
}

.form {
  margin-bottom: 0.8rem;
  width: 100%;
}

.list-container {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

/* PURCHASES */
.purchases-container {
  font-size: 1rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
  margin: 1.4rem 0 4rem 0;

  font-weight: 500;
}

.purchases-container:has(.no-purchases) {
  font-size: 1rem;
  font-weight: 400;
}

@media (max-width: 37.5em) {
  .info-container,
  .purchases-container {
    width: 90vw;
  }

  .heading {
    font-size: 1.6rem;
  }
}
