.collection-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: auto;
  overflow-x: hidden;
}

.collection-box {
  /* height: 100%; */
  height: max-content;
  /* min-height: max-content; */

  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.heading {
  font-size: 2rem;
  letter-spacing: 0.05rem;

  margin-bottom: 0.8rem;
  padding-top: 2rem;
}

.subheading {
  display: flex;
  align-items: center;

  gap: 0.8rem;
}

/* SORT BY */
.sort-by,
.sort-by-btn {
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 500;

  display: flex;
  align-items: center;
}

.sort-by {
  gap: 1rem;
}

.sort-by-icon {
  color: inherit;
}

.sort-by-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  gap: 0.2rem;
  transition: all 0.2s;

  color: #868e96;
}

.sort-by-btn:hover .sort-by-icon {
  transform: scale(1.1);
}

.sort-by-selected {
  color: #868e96;
}

/* INPUT SEARCH */
.search-container {
  display: flex;
  align-items: center;
  padding: 0.4rem 0.4rem;

  border: 1px solid #dee2e6;
  border-radius: 4px;

  gap: 0.2rem;
}

.search-icon {
  color: inherit;
}

.input-search {
  font-family: inherit;
  font-size: 1rem;
  border: none;
}

.input-search:focus {
  outline: none;
}

.input-search::placeholder {
  color: #adb5bd;
}

/* DOGS SECTION */
.dogs-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dogs-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3.4rem;

  height: 100%;

  padding: 4rem 2rem 4rem 2rem;
}

@media (max-width: 70rem) {
  .dogs-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 45rem) {
  .dogs-list {
    grid-template-columns: 1fr;
    gap: 2.4rem;
  }
}
