.collection-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: auto;
  overflow-x: hidden;
}

.collection-box {
  /* height: 100%; */
  height: max-content;
  /* min-height: max-content; */

  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.heading {
  font-size: 2rem;
  letter-spacing: 0.05rem;

  margin-bottom: 0.8rem;
  padding-top: 2rem;
}
