<footer class="footer">
  <div class="website-info">
    <span class="logo">DOGMKT</span>
    <span class="created-by">Created by Fabio Yamashita</span>
  </div>
  <div class="other-info">
    <ul class="list-column">
      <li>
        <a
          class="link"
          href="https://www.linkedin.com/in/fabioksyamashita/"
          target="_blank"
        >
          LinkedIn
        </a>
      </li>
      <li>
        <a
          class="link"
          href="https://github.com/fabioyamashita"
          target="_blank"
        >
          GitHub
        </a>
      </li>
    </ul>
    <ul class="list-column">
      <li>
        <a class="link" href="https://fabioyamashita.dev/" target="_blank">
          My Portfolio
        </a>
      </li>
      <li>
        <a
          class="link"
          href="https://github.com/fabioyamashita/dogmkt"
          target="_blank"
        >
          Documentation
        </a>
      </li>
    </ul>
    <ul class="list-column">
      <li>
        <a class="link" href="mailto:fabioyamashita10@gmail.com">E-mail</a>
      </li>
    </ul>
  </div>
</footer>
