<div class="breed-container">
  <h3 class="dog-breed">SAMOYED</h3>
  <ol class="dogs-list">
    <li class="dog-item">
      <div class="dog-img-box">
        <img
          src="https://images.unsplash.com/photo-1554633118-07d6bca66ec4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80"
          alt="samoyed-img"
          class="dog-img"
          routerLink="/collection/dogid"
        />
      </div>
      <div class="dog-info">
        <span class="dog-name">Nina the Samoyed</span>

        <div class="price-box">
          <mat-icon class="price-icon">favorite</mat-icon>
          <span class="price">105.50</span>
        </div>
      </div>
    </li>

    <li class="dog-item">
      <div class="dog-img-box">
        <img
          src="https://images.unsplash.com/photo-1636998094276-f2e8f673c41c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80"
          alt="samoyed-img"
          class="dog-img"
        />
      </div>
      <div class="dog-info">
        <span class="dog-name">Nina the Samoyed</span>

        <div class="price-box">
          <mat-icon class="price-icon">favorite</mat-icon>
          <span class="price">105.50</span>
        </div>
      </div>
    </li>

    <li class="dog-item">
      <div class="dog-img-box">
        <img
          src="https://images.unsplash.com/photo-1636998094276-f2e8f673c41c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80"
          alt="samoyed-img"
          class="dog-img"
        />
      </div>
      <div class="dog-info">
        <span class="dog-name">Nina the Samoyed</span>

        <div class="price-box">
          <mat-icon class="price-icon">favorite</mat-icon>
          <span class="price">105.50</span>
        </div>
      </div>
    </li>

    <li class="dog-item">
      <div class="dog-img-box">
        <img
          src="https://images.unsplash.com/photo-1636998094276-f2e8f673c41c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80"
          alt="samoyed-img"
          class="dog-img"
        />
      </div>
      <div class="dog-info">
        <span class="dog-name">Nina the Samoyed</span>

        <div class="price-box">
          <mat-icon class="price-icon">favorite</mat-icon>
          <span class="price">105.50</span>
        </div>
      </div>
    </li>
  </ol>
</div>

<div class="breed-container">
  <h3 class="dog-breed">CORGI</h3>
  <ol class="dogs-list">
    <li class="dog-item">
      <div class="dog-img-box">
        <img
          src="https://images.unsplash.com/photo-1554633118-07d6bca66ec4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80"
          alt="samoyed-img"
          class="dog-img"
        />
      </div>
      <div class="dog-info">
        <span class="dog-name">Nina the Samoyed</span>

        <div class="price-box">
          <mat-icon class="price-icon">favorite</mat-icon>
          <span class="price">105.50</span>
        </div>
      </div>
    </li>

    <li class="dog-item">
      <div class="dog-img-box">
        <img
          src="https://images.unsplash.com/photo-1636998094276-f2e8f673c41c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80"
          alt="samoyed-img"
          class="dog-img"
        />
      </div>
      <div class="dog-info">
        <span class="dog-name">Nina the Samoyed</span>

        <div class="price-box">
          <mat-icon class="price-icon">favorite</mat-icon>
          <span class="price">105.50</span>
        </div>
      </div>
    </li>
  </ol>
</div>
