<div class="container">
  <div class="profile-container">
    <div class="info-container">
      <h2 class="heading">PROFILE</h2>

      <app-profile-form class="form" [user]="user"></app-profile-form>
    </div>

    <div class="list-container">
      <h2 class="heading">YOUR DOGS IN SALE</h2>

      <app-search-area
        (searchEvent)="searchCollection($event)"
      ></app-search-area>
      <app-dog-list [dogs]="dogs"></app-dog-list>
    </div>
  </div>
  <app-footer></app-footer>
</div>
